@model SugBlr.Models.TitleBlock

@{
    Layout = null;
}
<div class="container component">
    <div class="row richtext">
        <div class="col-12">
            <div class="component-content">
                <div>
                    @Html.Raw(Model.titleBlock)
                </div>
            </div>
        </div>
    </div>
</div>